{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb",
    "airbnb/hooks"
  ],
  "plugins": ["react", "react-hooks", "import"],
  "settings": {
    "import/extensions": [".js", ".jsx", ".ts", ".tsx", ".json"],
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "import/no-named-as-default": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": ["builtin", "external", "internal", "index", "object", "unknown", ["parent", "sibling"]]
      }
    ],
    "import/prefer-default-export": "off",
    "react/prop-types": "off"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  }
}